extends ../layout

block content
    script(src='/javascripts/purchase_list.js')
    h1= title
    table#tbl_purchase_list
        tr 
            th id
            th Имя
            th дата покупки
