extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
            th дата покупки
        each item in purchase_list
            tr
                td= item.purchase_id
                td= item.order_id 
                td= item.purchase_date
