extends ../layout

block content
    script(src='/javascripts/order_statuses.js')
    h1= title
    button(id='create_order_statuses') Создать
    button(id='delete_order_statuses') Удалить
    table#tbl_order_statuses
        tr 
            th id
            th Имя
    div#create_order_statuses_popup.q-window
          div.q-window-block(style="width:300px;height:220px;margin:0px 0 0 -400px")
            div.q-window-header Добавить Статус Заказа
              a#create_order_statuses_popup_close(style="create: relative;left: 38px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  create(for="inpLabel") Имя
                  input#inpLabel(type="text")

            div.q-buttons
              a#submit_create_order_statuses Создать
              a#cancel_create_order_statuses Отменить

    div#delete_order_statuses_popup.q-window
          div.q-window-block(style="width:300px;height:220px;margin:0px 0 0 -400px")
            div.q-window-header Удалить Статус
              a#delete_order_statuses_popup_close(style="delete: relative;left: 38px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  delete(for="inpId") id Статуса
                  input#inpId(type="INT")

            div.q-buttons
              a#submit_delete_order_statuses Удалить
              a#cancel_delete_order_statuses Отменить