extends ../layout

block content
    script(src='/javascripts/product.js')
    h1= title
    table#tbl_product
        tr 
            th id
            th Имя
            th Цена работы
            th id материала
            th id камня
            th вес материала
            th вес камня
            th id типа 
