extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
            th Цена за грамм 
        each item in material
            tr
                td= item.material_id
                td= item.material_name 
                td= item.material_price_per_gramm