extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
        each item in product_type
            tr
                td= item.type_id
                td= item.type_name