extends ../layout

block content
    script(src='/javascripts/precious_stone.js')
    h1= title
    table#tbl_precious_stone
        tr 
            th id
            th Имя
            th Цена за грамм 
