extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
            th Цена за грамм 
        each item in precious_stone
            tr
                td= item.stone_id
                td= item.stone_name 
                td= item.stone_price_per_gramm
