extends ../layout

block content
    script(src='/javascripts/supplier.js')
    h1= title
    table#tbl_supplier
        tr 
            th id
            th имя
            th id материала
            th id камня