extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
        each item in positions
            tr
                td= item.position_id
                td= item.position_name
