extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th ФИО
            th id должности
        each item in staff
            tr
                td= item.staff_id
                td= item.fio 
                td= item.position_id